body {
  font-family: Helvetica, Arial, sans-serif;
  /* font-family: 'Roboto Slab', 'Times New Roman', serif; */
  line-height: 1.45;
  background-color: rgb(240,240,240);
}

#app {
  background-color: transparent;
  margin: 0 auto;
  max-width:50rem;
  padding: 2rem;
}

h1 {
  text-align:center;
  font-family: 'Roboto Slab', 'Helvetica', 'Arial', sans-serif;
}

p, button {
  font-size: 1.15rem;
}

button {
  background-color: black;
  border: 1px solid white;
  display: block;
  margin: 0 auto;
  color: white;
  cursor: pointer;
  font-family: inherit;
  padding: 1rem;
}
.buttonbox button {
  display: inline-block;
}
.buttonbox, .stim {
  text-align: center;
}
.stim {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.stim p {
  font-size:1.75rem;
}

.rec-symbols {
  font-size: 2rem;
  vertical-align: sub;
  line-height: 1rem;
}

.light-green { background-color: rgb(100, 250, 100); }
.green { background-color: green; }
.red { background-color: red; }
.blue { background-color: blue; }
span.red, span.blue, span.light-green {
  display: inline-block;
  padding: 0.25rem;
}
span.red, span.blue {
  color: white;
}

.recording-bar {
  position: fixed;
  top: 0;
  left: 0;
  height:1.5rem;
  width: 100%;
  color: white;
  margin:0;
  font-weight: bold;
  text-align:center;
  background-color: red;
}

textarea {
  margin-bottom:1rem;
  width:100%;
  min-height:5rem;
}
