body {
  font-family: Helvetica, Arial, sans-serif;
  /* font-family: 'Roboto Slab', 'Times New Roman', serif; */
  line-height: 1.45;
  background-color: rgb(240,240,240);
}

#app {
  background-color: transparent;
  margin: 0 auto;
  max-width:50rem;
  padding: 2rem;
}

h1 {
  text-align:center;
  font-family: 'Roboto Slab', 'Helvetica', 'Arial', sans-serif;
}

p, button, li, label {
  font-size: 1.15rem;
}

button {
  background-color: black;
  border: 1px solid white;
  display: block;
  margin: 1rem auto;
  color: white;
  cursor: pointer;
  font-family: inherit;
  padding: 1rem;
}
.buttonbox button {
  display: inline-block;
}
.buttonbox, .stim {
  text-align: center;
}
.example-trial {
  max-width: 75%;
  height: 20rem;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  top:-2.5rem;
  z-index: -1;
}
.stim {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.stim p, .stim button {
  font-size:2rem;
}
.example-trial > .stim {
  position: inherit;
  top: 2rem;
  left: 0;
  transform: translate(0,0);
}
.fixcross {
  vertical-align: middle;
  height: 2rem;
}

.rec-symbols {
  font-size: 2rem;
  vertical-align: sub;
  line-height: 1rem;
}

/* participant dashboard items */

.ppt-ed {
  background-color: green;
  padding: 1rem;
  margin: 0.5rem 0;
  color: white;
  cursor: pointer;
}

.ppt-ed-solo {
  background-color: white;
  padding: 1rem;
  margin: 2rem 0.5rem;
}

.ppt-ed-solo .ppt-ed-title {
  margin: 0 2rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1rem;
  font-weight: bold;
}

.ppt-ed-solo p {
  text-align: center;
}

.ppt-ed-solo {
  overflow-wrap: break-word;
}

.ppt-inactive {
  background-color: #e6e6e6;
  border: 1px solid darkgray;
}
.ppt-inactive p {
  border-color: black;
}

.covid-screen-results {
  background-color: transparent;
  /* color: black; */
  padding: 0.15rem 0.5rem;
  border-radius: 0.25rem;
  /* margin-left: 0.5rem; */
  display: inline-block;
  border: 1px dashed black;
}
.failed {
  background-color: red;
  border-color: transparent;
  color: white;
}
.passed {
  color: black;
  border-color: transparent;
}

.light-green, .passed { background-color: rgb(100, 250, 100); }
.green { background-color: green; }
.red, .failed { background-color: red; }
.blue { background-color: blue; }
.inactive { background-color: darkgray; }
.active {
  background-color: white;
  border: 1px solid black;
  color:black;
  cursor: default;
}
.unclickable {
  background-color: lightgray;
  border: 1px dashed black;
  color:black;
  cursor: not-allowed;
}
span.red, span.blue, span.light-green {
  display: inline-block;
  padding: 0.25rem;
}
span.red, span.blue {
  color: white;
}

.italic {
  font-style: italic;
}
.normal-weight {
  font-weight: 400;
}

/* some elements just exist to take up space */
.invisible {
  background-color: transparent;
  border-color: transparent;
  cursor: default;
}
.invisible:focus {
  outline: 0;
}

.recording-bar {
  position: fixed;
  top: 0;
  left: 0;
  height:1.5rem;
  width: 100%;
  color: white;
  margin:0;
  font-weight: bold;
  text-align:center;
  background-color: red;
}

/* form styling */
textarea {
  margin-bottom:1rem;
  width:100%;
  min-height:5rem;
}

input, textarea {
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.45;
  border: .25rem solid rgb(190,190,210);
  border-radius: 0.5rem;
}

.option-list {
  margin-bottom: 3rem;
}

.option-list span {
  background-color: rgb(190,190,210);
  margin: 0.5rem 0;
  /* color: white; */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: .5rem;
  padding-left: 1rem;
}

.option-list span label {
  margin-left: 0.5rem;
  display: block;
  max-width: 100%;
  flex-grow: 1;
  padding: 1rem 0;
}

.inline-option-list, .inline-option-list span {
  display: inline-block;
  font-size: 1rem;
}

.inline-option-list {
  margin:0 0.25rem 0 0;
}

.inline-option-list span {
  margin: 0.1rem;
  padding:0;
  border-radius: 0.25rem;
}

.inline-option-list span label {
  margin: 0;
  padding:0.1rem 0.5rem;
  display:inline-block;
}

.inline-option-list span input {
  display: none;
}

.add-lang {
  cursor: pointer;
  /* background-color: rgb(190,190,210); */
  background-color: black;
  color: white;
  padding:0.1rem 0.5rem;
  display: inline-block;
  /* padding: 1rem; */
  /* border-radius:0.25rem; */
}

/* grid question */
.grid-question{
  margin-bottom: 3rem;
}

.grid-question p, .grid-question .inline-option-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  /* justify-content: center; */
}
.grid-question p {
  flex-wrap: wrap;
}
.grid-question .question {
  /* width: 50%; */
  order: 0;
  flex-grow: 2;
  flex-basis: 0;
  /* flex-shrink:5; */
  /* display:block; */
  /* max-width:9.5rem; */
  margin-right:0.5rem;
}
.grid-question .inline-option-list {
  flex-grow:1;
  flex-basis:70%;
}
.grid-question .inline-option-list span {
  text-align: center;
  flex-basis: 0;
  flex-grow: 1;
}
.grid-question .question, .grid-question .inline-option-list span {
  align-self: stretch;
  display: flex;
  align-items: center;
}

span.selected-option {
  background-color: rgb(100,100,150);
  color: white;
}
.filled-out {
  border-color: rgb(100,100,150);
}

.option-list span input[type="checkbox"][disabled], .option-list span input[type="checkbox"][disabled] + label {
  cursor: not-allowed;
}

.inline-textbox {
  display: inline;
}
.option-list span label {
  display: inline-block;
}
.option-list span p {
  margin: 0;
}


select {
  font-size:1rem;
  line-height: 1.45;
}

.flex-contain {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.flex-contain input {
  flex-shrink: 0;
}
.flex-contain label {
  padding-left: 1rem;
}
.short-input { /* for numbers */
  width: 3rem;
}

.survey-error {
  color: red;
}
.survey-error li:before {
  content: '\2716';
  margin-left: -1.5rem;
  margin-right: .75rem;
}
ul.survey-error {
  list-style-type: none;
}

hr {
  border: 0;
      border-bottom-color: currentcolor;
      border-bottom-style: none;
      border-bottom-width: 0px;
  border-bottom: 1px dashed #ccc;
  background: black;
}

img {
  max-width: 100%;
}
